@import 'Button';
@import 'Fonts';

$greyColor: #898888;
$greyDark: #B1B0B0;
$lightBlue:#B8DDFF;

.projects-container {
    display: flex;
    border-top: 3px solid $greyDark;
    height: calc(99.5vh - 70px);

    .side-bar-container {
        width: 20%;
        border-right: 2px solid $greyColor;       
        
        .block {
            @extend .font-standard;

            cursor: pointer;
            display: flex;
            align-items: center;
            border: none;       
            width: 100%;
            height: 50px;
            text-align: left;
            outline: none;
        }

        .block-selected {
            @extend .block;

            background-color: $lightBlue;
        }

        .block:hover {
            background-color: $lightBlue;
        }
    }    
}